<div class="container container-footer" id="latest-signups">

  <h2>Footer with some Links</h2>

  <hr>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis illo, corrupti maiores nostrum dignissimos
    expedita atque voluptatibus labore necessitatibus nesciunt id laborum ratione quae possimus explicabo aperiam
    assumenda tempore sapiente voluptates soluta quasi dolorum totam. Eius dolore assumenda, cupiditate sequi
    laudantium vitae inventore earum? Dolores sit sunt rerum ducimus cumque. Repudiandae ab, optio recusandae dolores
    voluptates, molestiae ea mollitia temporibus excepturi cupiditate aspernatur at ipsa impedit! Enim tempora, esse
    minima autem non eum quisquam dolorum cum expedita officia dignissimos harum possimus eveniet, debitis aliquid
    quibusdam accusamus? Libero vitae quasi rem? Doloribus, exercitationem enim repellat distinctio officia quidem
    molestias eos eius.
  </p>

</div>


<script type="application/javascript" src="/js/main.js"></script>
</body>

</html>