<div class="container-flex">

  <div class="container container-border-full" id="wlms-side-widget">
    <h3>WLM-SYSTEM</h3>
    <ul>
      <li>
        <a href="#wlms-overview">Overview</a>
      </li>
      <li>
        <a href="#wlms-sensor">Sensor</a>
      </li>
      <li>
        <a href="#wlms-applications-benefits">Applications and Benefits</a>
      </li>
      <li>
        <a href="#wlms-main-features">Main Features</a>
      </li>
      <li>
        <a href="#wlms-cbox">Connection Box</a>
      </li>
      <li>
        <a href="#wlms-software">Software</a>
      </li>
    </ul>
  </div>

  <div class="container" id="latest-signups">

    <h1>WLM-SYSTEM</h1>

    <h2 id="wlms-overview">Overview</h2>

    <hr>

    The WLM-SYSTEM (Water-Loss-Management) is a sustainable solution to systematically force the recognition and
    reduction of water losses by open (virtual zones) and closed (DMA) network operation. An overlapping zoning of
    sectors by WLM - multiparameter sensors may result in avoidance of a very costly physical zoning.

    <blockquote>
      The WLM-SYSTEM enables an immediate evaulation of the actual condition of the pipe network.
    </blockquote>

    <h2 id="wlms-sensor">Sensor</h2>

    <hr>

    <p>The WLM-Sensor integrates an inductive flow sensor (bi-directional), a piezo-ceramic pressure sensor, a highly
      sensitive piezo electric noise sensor and optional a temperature sensor in one single housing. The installation
      affords a precise positioning of the measuring head to the intersection of the laminar and turbulent flow.</p>

    <h2 id="wlms-applications-benefits">Application and Benefits</h2>

    <hr>

    <p>The parameters Flow Noise Pressure and Temperature are continuously measured. Typically, this measurement is
      performed during the calm night hours, i.e. between 3 and 4 am. Measurements are obtained, processed and stored
      for the later transmission to a central PC/SCADA (or online).</p>

    <p>Every deviation found between the measured and previously stored values (for example increased flow, flow
      direction changes, decreased pressure and/or a higher noise, leak- or flow noise) is automatically registered and
      displayed with an alarm raised by the AQUALYS Software (and SMS).</p>

    <h2 id="wlms-main-features">Main Features</h2>

    <hr>

    <ul>
      <li>Network monitoring</li>
      <li>Inductive flow-metering</li>
      <li>Hot tapping</li>
      <li>Active leakage control</li>
    </ul>

    <hr>

    <ul>
      <li>Installation to any pipe dimension/material</li>
      <li>Active leakage survey</li>
      <li>Hot tapping under full pressure</li>
      <li>Long term maintenance free</li>
      <li>Keeping leakage level at a minimum</li>
      <li>Analogue noise interface – hydrophone (connection to correlator)</li>
      <li>Diagnosis of network condition</li>
      <li>Step by step installation</li>
      <li>Immediate leakage warning</li>
      <li>Easy connection to any SCADA system</li>
      <li>SMS-Warning</li>
      <li>Optional Temperature Measurement</li>
      <li>Highly cost effective “Sensor”-Chamber Installation</li>
      <li>Theft- and Flooding Alarm</li>
      <li>Water Balance Module (Totalizer)</li>
      <li>“ONLINE” Leakage Warning</li>
    </ul>

    <h2 id="wlms-cbox">Connection Box (IP68 Standard)</h2>

    <hr>

    <ul>
      <li>O-Ring sealing - up to 5 bar - visible</li>
      <li>Visible fuse</li>
      <li>Modem LED visible</li>
      <li>Internal or external antenna</li>
    </ul>

    <h2 id="wlms-software">PC Software AQUALYS</h2>

    <hr>

    <p>The Software for the WLM-SYSTEM manages both the data transfer between the central PC and the WLM-Sensors, and
      enables a graphical and numerical display of these data. The user-friendly software provides the operator with
      information about the current leakage situation of the surveyed zone in the network. On an overall map the user
      verifies graphically if and where a leak appears. A more detailed screen of the failure (leakage zone) shows the
      numerical values and a time dependent diagram of Flow Noise Pressure and Temperature (optional).</p>

  </div>

</div>
