<div id="mySidenav" class="sidenav">
  <a href="#" id="wood">Wood Moisture Measurement</a>
  <a href="#" id="water">Water Loss Measurement</a>
  <a href="#" id="voltage">High Voltage Test Equipment</a>
  <a href="#" id="logging">Data logging</a>
</div>