<div class="signup-grid">

  <div class="container" id="add-user">

    <h2>Add User</h2>
    <hr>
    <br>
    <% if(errors) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li>
        <%= error.msg %>
      </li>
      <% }) %>
    </ul>
    <% } %>

    <form method="POST" action="/users/add">
      <label>First Name</label><br>
      <input type="text" name="first_name">
      <br><br>
      <label>Last Name</label><br>
      <input type="text" name="last_name">
      <br><br>
      <label>Email Address</label><br>
      <input type="text" name="email">
      <br><br>
      <input type="submit" value="Submit">
      <br><br>
    </form>

  </div>

  <div class="container" id="latest-signups">

    <h2>Latest Account Creations</h2>

    <hr>

    <ul>
      <% users.forEach(function(user) { %>
      <li>
        <%= user.first_name %>
        <%= user.last_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a>
      </li>
      <% }) %>
    </ul>

  </div>

</div>
